@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Stick&display=swap');

.App {
  text-align: center;
  background-color: #316923;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ar-title{
  font-family: 'Stick', sans-serif;
  text-decoration: underline;
}

.ar-body{
  font-family: 'Akaya Telivigala', cursive;
  letter-spacing: 1px;
  border: 1px solid darkgreen;
}

.cmnt-block{
  font-family: 'Akaya Telivigala', cursive;
  letter-spacing: 1px;
  font-size: .75rem;
  border: 1px solid darkgreen;
}

ul{
  list-style-type: none;

}

li{
  margin-bottom: 5px;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
